<h4>Why?</h4>
<p>快过年了，相信大家都和我一样遇到七大姑八大姨必问的问题：有女朋友了吗？结婚了吗？啊啊啊啊啊啊啊啊！</p>
<p> 各位亲戚朋友，你们够了有木有！</p>
<p> 你们问了一年又一年！你们够了有木有！</p>
<p> 同时，我个人也长期遭受已婚同事的亲切问候，咋还不找女朋友啊，咋还不结婚啊...简直崩溃到极点！说什么好呢！你们够了有木有！</p>
<p> 人家就是不找女朋友，咋滴了？人家就是不找男朋友，咋滴了？</p>
<p> 说起来真是血泪！单身狗也是动物，请给予人文关怀好不好噻？</p>
<p> 嗯，啥也不说了，一起吐槽吧。</p>
<h4>关于系统</h4>
<p> 本应用采用的是<a href="https://github.com/onlytiancai/happytalk" 
target="_blank">Happytalk</a>，GitHub 
是个宝库，要啥有啥，技术渣渣的我啥也不懂，就随便改了改，竟然运行起来了！你们快去 Fork 这个项目吧~</p>
<p> 我自己修改的在这里：<a href="https://github.com/tuhaihe/happytalk" 
target="_blank">https://github.com/tuhaihe/happytalk</a>，关注我的微博：<a 
href="http://weibo.com/ibentutu" target="_blank">@我爱笨兔兔ibentutu</a></p>
